name: Buf

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [zyphor]
    steps:
      - uses: actions/checkout@v5

      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true

      - name: Buf Format Check
        working-directory: ${{ matrix.module }}
        run: buf format --diff --exit-code

      - name: Buf Lint
        working-directory: ${{ matrix.module }}
        run: buf lint
